@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../images/formelCrash2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signs {
  display: flex;
}

.sign {
  margin: 10rem 2rem;
  width: 9rem;
  height: 9rem;
  border: none;
  border-radius: 50%;
  box-shadow: inset 0 1.5em 0.25em -1em #ffffff88, 0 .8em .8em 0 #00000088;
}

img {
  border-radius: 50%;
  width: 9rem;
  transform: rotate(45deg);
}

.turnRed {
  background-color: #FF0032bb;
}
.turnGreen {
  background-color: #82CD47bb;
}

button {
  font-family: 'Righteous', Arial, Helvetica, sans-serif;
  cursor: pointer;
  box-shadow: inset 0 1.5em 0.25em -1em #ffffff88, 0 .8em .8em 0 #00000088;
  background-color: #B99B6Bbb;
  border: none;
  color: #ECECEC;
  outline: none;
}

#buzzer {
  /* margin-top: 10%; */
  width: 35rem;
  font-size: 3rem;
  height: 10rem;
  border-radius: 1rem;
}

#restart {
  margin-top: 5rem;
  width: 20rem;
  height: 3rem;
  line-height: .5rem;
  font-size: 2rem;
  padding: 2rem;
  visibility: hidden;
  border-radius: .4rem;
}